/* 仅适用于 sidebar-activity 组件的样式 */

.sidebar-activity__container {
  padding: 20px;
  border: solid 1px red;
  width: 7rem;
}

.sidebar-activity__item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e0e0e0;
  }
}
