/* 仅适用于 component-login 组件的样式 */

.component-login__container {
    padding: 20px;
    border: solid 1px red;
}

.component-login__item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #e0e0e0;
    }
}
