// @import 'bootstrap/scss/bootstrap';
// @import "bootswatch/dist/sketchy/bootswatch";
/* 仅适用于 main 组件的样式 */

.main__container {
  padding: 20px;
  border: solid 1px red;
}

.main__item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e0e0e0;
  }
}
